body{
    background-color: lightgray;
    text-align: center;
    display: block;
    margin: auto;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px dotted blue;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    background-color: lightblue;
}
img {
    max-width:30%;
    height: auto;
}
iframe{
    aspect-ratio: 16/9;
    width: 30%;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
#vid{
    text-decoration: underline;
}
#bio{
    border: 2px solid navy;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    background-color: antiquewhite;
}

@media (max-width: 800px){
    img {
        max-width: 60%;
        height:auto;
    }
    iframe{
        aspect-ratio: 16/9;
        width: 60%;
    }
}
@media (max-width: 500px){
    img {
        max-width:100%;
        height:auto;
    }
    iframe{
        aspect-ratio: 16/9;
        width: 100%;
    }
}